iframe{
	max-height: 300px;
}

div.vertical-menu > a.active{
	background-color: #337ab7;
	color           : #ffffff;
}
#video_player{
	margin-top: -1%;
}

.output_header{
	width      :1170px;
	height     :40px;
	background :#73706d;
	margin-left:0px;
}

.game_header{
	width      :1140px; 
	height     :35px;
	background :#73706d; 
	margin-left:15px;
}

.scenario_header{
	width      :100%;
	height     :35px; 
	background :#73706d; 
	margin-left:0px;
}

#proceedBtn{
	margin-top:10px;
}

#scenario_button{
	margin-top:4px;
}



.register{
	margin-top:-35px;
}

.enroll{
	margin-top:30px;
}

.setting_card{
	margin-left:45px;
}

.profile_card{
	margin-left:55px;
}

#myImg {
	border-radius: 5px;
	cursor       : pointer;
	transition   : 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
	display         : none; /* Hidden by default */
	position        : fixed; /* Stay in place */
	z-index         : 1; /* Sit on top */
	padding-top     : 100px; /* Location of the box */
	left            : 0;
	top             : 0;
	width           : 100%; /* Full width */
	height          : 100%; /* Full height */
	overflow        : hidden; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
	margin   : auto;
	display  : block;
	width    : 80%;
	max-width: 700px;
}

/* Caption of Modal Image */
#caption {
	margin    : auto;
	display   : block;
	width     : 80%;
	max-width : 700px;
	text-align: center;
	color     : #ccc;
	padding   : 10px 0;
	height    : 150px;
}

/* Add Animation */
.modal-content, #caption {  
	-webkit-animation-name    : zoom;
	-webkit-animation-duration: 0.6s;
	animation-name            : zoom;
	animation-duration        : 0.6s;
}

@-webkit-keyframes zoom {
	from {-webkit-transform:scale(0)} 
	to {-webkit-transform:scale(1)}
}

@keyframes zoom {
	from {transform:scale(0)} 
	to {transform:scale(1)}
}

/* The Close Button */
.close {
	position   : absolute;
	top        : 15%;
	right      : 1%;
	color      : #f1f1f1;
	font-size  : 40px;
	font-weight: bold;
	transition : 0.3s;
	opacity    : 1;
}

.close:hover,
.close:focus {
	color          : #bbb;
	text-decoration: none;
	cursor         : pointer;
	transform      : rotate(360deg);
	opacity        : 1;
	color          : #ff0000;
	transition     : 1s;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
	.modal-content {
		width: 100%;
	}
	.close{
		position: static;
		top     : 20%;
		z-index : 1;
		color   : #ff0000;
	}
}

	 /* @media only (min-width: 601px) and (max-width: 768px) {

   .container-fluid{
    margin-top:3%;
    }*/




    /* The Modal (background) */
    .modal {
    	display    : none; /* Hidden by default */
    	position   : fixed; /* Stay in place */
    	z-index    : 1; /* Sit on top */
    	padding-top: 100px; /* Location of the box */
    	left       : 0;
    	top        : 0;
    	width      : 100%; /* Full width */
    	height     : 100%; /* Full height */
    	overflow   : auto; /* Enable scroll if needed */


    }

    /* Modal Content (image) */
    .modal-content {
    	margin   : auto;
    	display  : block;
    	width    : 80%;
    	max-width: 700px;
    }

    /* Caption of Modal Image */
    #caption {
    	margin    : auto;
    	display   : block;
    	width     : 80%;
    	max-width : 700px;
    	text-align: center;
    	color     : #ccc;
    	padding   : 10px 0;
    	height    : 150px;
    }

    /* Add Animation */
    .modal-content, #caption {  
    	-webkit-animation-name    : zoom;
    	-webkit-animation-duration: 0.6s;
    	animation-name            : zoom;
    	animation-duration        : 0.6s;
    }

    @-webkit-keyframes zoom {
    	from {-webkit-transform:scale(0)} 
    	to {-webkit-transform  :scale(1)}
    }

    @keyframes zoom {
    	from {transform:scale(0)} 
    	to {transform:scale(1)}
    }

    /* The Close Button */
    .close {
    	position   : absolute;
    	top        : 55px;
    	right      : 35px;
    	color      : #BB3A3A;
    	font-size  : 40px;
    	font-weight: bold;
    	transition : 0.3s;
    	opacity    :1;
    }

    .close:hover,
    .close:focus {
    	color          : #ffffff;
    	text-decoration: none;
    	cursor         : pointer;
    }

    .dbl-spinner {
    	margin           : 20% 0 0 50%;
    	position         : absolute;
    	width            : 75px;
    	height           : 75px;
    	border-radius    : 50%;
    	background-color : transparent;
    	border           : 4px solid transparent;
    	border-top       : 4px solid #222;
    	border-left      : 4px solid #222;
    	-webkit-animation: 2s spin linear infinite;
    	animation        : 2s spin linear infinite;
    }

    .dbl-spinner:nth-child(2) {
    	border           : 4px solid transparent;
    	border-right     : 4px solid #03A9F4;
    	border-bottom    : 4px solid #03A9F4;
    	-webkit-animation: 1s spin linear infinite;
    	animation        : 1s spin linear infinite;
    }

    @-webkit-keyframes spin {
    	from {
    		-webkit-transform: rotate(0deg);
    		transform        : rotate(0deg);
    	}
    	to {
    		-webkit-transform: rotate(360deg);
    		transform        : rotate(360deg);
    	}
    }

    @keyframes spin {
    	from {
    		-webkit-transform: rotate(0deg);
    		transform        : rotate(0deg);
    	}
    	to {
    		-webkit-transform: rotate(360deg);
    		transform        : rotate(360deg);
    	}
    }
    /*css for overlay div*/
    .overlay {
    	height          : 100%;
    	width           : 100%;
    	display         : none;
    	position        : fixed;
    	z-index         : 1;
    	top             : 0;
    	left            : 0;
    	background-color: rgb(0,0,0);
    	background-color: rgba(0,0,0, 0.4);
    }
    .overlay-content {
    	position  : relative;
    	top       : 25%;
    	width     : 100%;
    	text-align: center;
    	margin-top: 30px;
    }

    .overlay span {
    	padding        : 8px;
    	text-decoration: none;
    	font-size      : 36px;
    	color          : #ffff00;
    	display        : block;
    	transition     : 0.3s;
    }
    .overlay span:hover, .overlay span:focus {
    	color: #f1f1f1;
    }
    .overlay .closebtn {
    	position : absolute;
    	top      : 20px;
    	right    : 45px;
    	font-size: 60px;
    }
    @media screen and (max-height: 450px) {
    	.overlay span {font-size: 20px}
    	.overlay .closebtn {
    		font-size: 40px;
    		top      : 15px;
    		right    : 35px;
    	}
    }
    @media only screen and (max-width: 768px) {
    	.dashboardList
    	{
    		margin-top : 25px;
    	}
    	@media only screen and (max-width:290px){
    		.dashboardList ul li 
    		{ 
    			margin-top:9%;
    		}
    	}
    	[class*="col-"] 
    	{
    		margin-top:3%;
    	}
    }
    @media only screen and (max-width: 300px){
    	.timer {
    		width     : 100%;
    		margin-top: 27%;
    	}
    }
    @media (max-width:317px) and (min-width:300px) {

    	.timer{
    		width     :100%;
    		margin-top:12%;
    	}
    }
    @media only screen and (max-width:768px){
    	#nav
    	{
    		background: #ffffff;
    		margin-top: 0px;
    	}
    }
    body, html{
    	height:100%;
    }
    body{
    }

/*
flip card
*/
.card-flip > div {
	backface-visibility       : hidden;
	transition                : transform 0.9s;
	transition-timing-function: linear;
	width                     : 100%;
	height                    : 100%;
	margin                    : 0;
	display                   : flex;
}
.card-front {
	transform: rotateY(0deg);
}
.card-back {
	transform: rotateY(180deg);
	position : absolute;
	top      : 0;
}
.card-flip:hover .card-front {
	transform: rotateY(-180deg);
}
.card-flip:hover .card-back {
	transform: rotateY(0deg);
}
.card-title{
	color:#ffffff !important;
}
.card-text{
	color:#ffffff !important;
}
.card{
	padding-bottom: 10px;
}
.card1{
	border          :2px #ffffff solid;
	width           :700px;
	border-radius   : 10px;
	padding         :8px;
	padding-right   :3px;
	background-image: linear-gradient(#525252, #3d72b4);
}
.settings{
	margin-left  :300px;
	margin-top   :15px;
	margin-bottom:35px;
	color        :#ffffff;

}
.col-lg-3{
	color:#ffffff;
}

.col-lg-2{
	color:#ffffff;
}

.card-outline-secondary{
	border          :2px #ffffff solid;
	/*width           :700px;*/
	border-radius   : 10px;
	padding         :8px;
	padding-right   :3px;
	margin-left     :-60px;
	background-image: linear-gradient(#525252, #3d72b4);
}
.form-control{
	width:400px;
}
.form-group{
	/*margin-left:40px;*/
}
@media only screen and (max-width: 600px) {
	.card{
		width :410px;
		height:440px;
	}
	.card-front{
		height:430px !important;
	}
	.card-back{
		width :410px !important;
		height:430px !important;
	}
	.cardimg{

		width :410px !important;
		height:170px !important;
	}
	.container-fluid{
		margin-top  :3%;
		margin-right: 4%;
	}
	.col-xs-12{
		margin-bottom: 10px;
		margin-left  :120px;
	}
	.navbar-inverse{
		margin-top:20px !important;
		width     :700px;
	}
	.logo img{
		height:70px !important;
		width :70px !important;
	}
	.link a{
		margin-left:160px !important;
	}
	.icons img{
		margin-left:45px !important;
	}
	h1{
		margin-left:150px !important;
	}
	#input_container{
		width      :440px;
		margin-left:120px;
	}
	.how-to{
		margin-left:100px !important;
	}
	.form-control{
		width        :300px !important;
		margin-left  :0px !important;
		margin-bottom:-10px !important;

	}
	.col-lg-9{
		margin-top:0px !important;
	}
	.col-lg-3{
		margin-top:0px !important;
	}
	.col-lg-7{
		margin-top:0px !important;
	}
	iframe{
		width      :300px !important;
		height     :200px !important;
		margin-left:70px !important;
	}
	.card1{
		margin-left:-320px !important;
		margin-top :250px;
		width      :450px !important;
	}
	.card-outline-secondary{
		width      :450px !important;
		height     :900px !important;
		margin-top :0px !important;
		margin-left:-30px !important;
	}
	.how-to{
		margin-left:160px !important;
	}
	.link a{
		margin-left:160px !important;
	}
	.vertical-menu{
		margin-left:30px !important;
	}
	.settings{
		margin-left  :175px !important ;
		margin-top   :30px !important;
		margin-bottom:35px;
		color        :#ffffff;
	}
	li .welcome{
		width       :170px;
		margin-right:150px !important;
	}
	li .logout{
		width       :80px;
		margin-right:-260px !important;
	}
	.enroll{
		margin-left:170px !important;
	}
	.update{
		margin-left:-140px !important;
	}
}
@media (min-width: 601px) and (max-width: 768px) {
	.col-md-6{
		width        :50% !important;
		margin-bottom:10px;
	}
	h1{
		margin-left:120px;
	}
	.icons img{
		margin-left:-60px !important;
	}
	.icons1 img{
		margin-left:50px !important;
		margin-top :-140px;
	}
	.logo img{
		height:70px !important;
		width :70px !important;
	}
	.card{
		width      :250px;
		margin-left:100px;
	}
	.card-back{
		width:250px !important;
	}
	.cardimg{
		width:250px !important;
	}
	a{
		margin-left:90px !important;
	}
	.vertical-menu{
		width:350px !important;
	}
	.navbar-inverse{
		margin-top:45px;
		width     :800px;      
	}
	.navbar{
		margin-left:-85px;
	}
	#input_container{
		width      :480px;
		margin-left:100px;
	}
	.form-control{
		width        :300px !important;
		margin-left  :-10px !important;
		margin-bottom:-10px !important;

	}
	.col-lg-9{
		margin-top:0px !important;
	}
	.col-lg-3{
		margin-top:0px !important;
	}
	.col-lg-7{
		margin-top:0px !important;
	}	
	iframe{
		width      :350px !important;
		height     :180px !important;
		margin-left:70px !important;
	}
	.card-outline-secondary{
		width      :530px !important;
		height     :900px !important;
		margin-top :0px !important;
		margin-left:-30px !important;
	}

	.form-control{
		width:400px !important;
	}
	.card1{
		margin-left:-330px !important;
		width      :550px !important;
		margin-top :260px !important;
	}
	.settings{
		margin-left  :220px !important;
		margin-top   :40px !important;
		margin-bottom:30px !important;
		color        :#ffffff;
	}
	.enroll{
		margin-left:100px !important;
	}
	li .welcome{
		width       :170px;
		margin-right:160px !important;
	}
	li .logout{
		width       :80px;
		margin-right:-355px !important;
	}
	.update{
		margin-left:-120px !important;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.col-md-4{
		width:33.33%;
	}
	.card-front{
		width:250px !important;
	}
	.card-back{
		width:250px !important;
	}
	.link{
		margin-left:-30px !important;
	}
	.logo img{
		height:70px !important;
		width :70px !important;
	}
	li .welcome{
		width       :170px;
		margin-right:120px !important;
	}
	li .logout{
		width       :80px;
		margin-right:-300px !important;
	}
	.navbar1{
		padding-top:7px;
	}
	.icons img{
		margin-left:-100px !important;
	}
	.how-to{
		margin-left:10px !important;
	}
	.card-text{
		margin-left:-70px;
	}
	h3{
		font-size:18px !important;
		margin-left:-80px !important;
	}
	.link{
		margin-left:-100px !important;
	}
	.cardimg{
		width      : 250px !important;
		margin-left:-70px !important;
	}
	.vertical-menu a{
		width:230px !important;
	}
	.vertical-menu{
		margin-left:-25px !important;
	}
	.form-control{
		width:400px !important;

	}
	.form-group{
		margin-left:0px !important;
	}
	.card1{
		margin-left:10px !important;
		width      :600px !important;
	}
	.settings{
		margin-left:130px !important;
		font-size  :30px !important;
	}
	iframe{
		width      :400px !important;
		height     :200px !important;
		margin-left:20px !important;
	}
	.card-outline-secondary{
		width      :600px !important;
		height     :950px !important;
		margin-left:-100px !important;
	}
	.card-body{
		margin-left:70px;
	}
	.enroll{
		margin-left:30px !important;
	}
	.update{
		margin-left:-100px !important;
	}
	li .logout{
		width       :80px;
		margin-right:-280px !important;
	}
}
/*End selectgame.css*/
.navbar1 {
	background    : #ffffff;
	box-shadow    : 0 2px 8px 0 rgba(0,0,0, 0.20);
	padding-top   : 2px;
	/*padding-bottom: 5px; */
	margin-bottom : 0;
	max-height    : 50px;
	min-height    : 5%;
}
.vertical-menu {
	width: 280px; /* Set a width if you like */
}
.vertical-menu a {
	font-size      : 20px;
	color          : #ffffff; /* Black text color */
	display        : block; /* Make the links appear below each other */
	padding        : 12px; /* Add some padding */
	text-decoration: none; /* Remove underline from links */
}
.vertical-menu a:hover {
	background-color: 	#C0392B; /* Dark grey background on mouse-over */
	color           :#ffffff;
}

.hover a:hover{
	color           :#ffffff !important;
	background-color: #C0392B !important;
}

.hoverAnchor a:hover{
	color           :#ffffff !important;
	background-color: #C0392B !important;
	border-radius   : 4px;
}

.hoverAnchor a{
	color           :#ffffff !important;
	background-color: #286090 !important;
}

.hoverAnchor a.btn{
	color: #ffffff !important;
}
.navbar-nav>li>a{
	padding     : 6px 12px !important;
	margin-top  : 7px !important;
	margin-right: 15px !important;
}

.scenario_name{
	background-color:#73706d !important;
}

.timer{
	background:#000;
	margin-top:8px;
}

.InnerPageHeader{
	color      :#fff;
	margin-top :8px;
	font-weight: bold;
	background-color: #73706d;
}

.hover{
	margin-top:-35px;
}

.navbar-header1{
	width:1250px;
}

@media (min-width: 769px) and (max-width: 991px) {
	.col-md-6{
		width        :300px !important;
		margin-bottom:10px;
		margin-right :30px !important;

	}
	.col-md-3{
		width:260px !important;
	}
	.col-md-9{
		width      :814px !important;
		margin-left:200px !important;
	}

	h1{
		margin-left:100px;
		margin-top :-230px !important;
	}
	.icons img{
		margin-left:-60px !important;
	}
	.icons1 img{
		margin-left:50px !important;
		margin-top :-140px;
	}
	.logo img{
		height:70px !important;
		width :70px !important;
	}
	.card{
		width      :250px;
		margin-left:100px;
	}
	.card-back{
		width:250px !important;
	}
	.cardimg{
		width:250px !important;
	}
	a{
		margin-left:90px !important;
	}
	li .welcome{
		width:170px;
		margin-right:130px !important;
	}
	li .logout{
		width       :80px;
		margin-right:-345px !important;
	}
	.navbar-inverse{
		margin-top:35px;
		width     :255px !important;
	}
	.vertical-menu{
		margin-left:-100px !important;
	}
	.vertical-menu a{
		width:235px !important;
	}
	#input_container{
		width      :400px !important;
		margin-left:100px;
		margin-top :30px !important;
	}
	.form-control{
		width:400px !important;
	}
	.card1{
		margin-left:100px !important;
		width      :580px !important;
	}
	.settings{
		margin-left:130px !important;
		font-size  :30px !important;
	}
	iframe{
		width      :350px !important;
		height     :150px !important;
		margin-left:90px !important;
	}
	.card-outline-secondary{
		margin-top :-250px !important;
		width      :550px !important;
		margin-left:160px !important;
		height     :900px !important;
	}
	.update{
		margin-left:-90px !important;
	}
}
.reduce_width{
	width:30%;
}
.reduce_flipspeed{
	transition : transform 0.9s;
	width:295px;
}

@media (min-width: 992px){
	.manageContainer {
		width: 85% !important;
	}
}

@media (max-width: 1292px){
	.manageContainer {
		/*margin-right: 11%;*/
	}
}

#left_scenario {
	top: 20px;
}

/*for right side buttons*/
#rightSidenav a {
	margin-top     : 180px;
	position       : fixed;
	right          : -125px;
	transition     : 0.3s;
	padding        : 5px;
	width          : 300px;
	text-decoration: none;
	font-size      : 20px;
	color          : white;
	border-radius  : 0 5px 5px 0;
	font-weight    : bold;
}

.submitShowRight {
	margin-top     : 180px;
	position       : fixed;
	right          : -25px;
	transition     : 0.3s;
	padding        : 5px;
	width          : 100px;
	text-decoration: none;
	/*font-size      : 20px;*/
	color          : white;
	border-radius  : 0 5px 5px 0;
	/*font-weight    : bold;*/
	border-radius  : 4px;
}

@media (max-width: 900px){
	#submitShow {
		display: block!important;
	}
	#submitShowRight {
		display: none;
	}
}

.timer_clock {
	/*margin-top     : 120px;*/
	position       : fixed;
	right          : -90px;
	transition     : 0.3s;
	padding        : 5px;
	width          : 200px;
	text-decoration: none;
	font-size      : 14px;
	color          : white;
	border-radius  : 0 5px 5px 0;
}

.timer_clock_icon {
	margin-top     : -25px;
	position       : fixed;
	right          : -125px;
	transition     : 0.3s;
	padding        : 5px;
	width          : 200px;
	text-decoration: none;
	font-size      : 20px;
	color          : white;
	border-radius  : 0 5px 5px 0;
}

.leftsideNav {
	margin-top     : 180px;
	position       : fixed;
	left           : -160px;
	transition     : 0.3s;
	/*padding        : 5px;*/
	width          : 400px;
	text-decoration: none;
	font-size      : 20px;
	color          : white;
	border-radius  : 0 5px 5px 0;
}

.rotateComp{
	transform: rotate(90deg);
}

.rotateCompAnti{
	transform: rotate(-90deg);
}
/* .reduce_length
{
	width:295px;
	} */

